<% content_for :title do %>Alexa Trainer Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Welcome" data-text="This your dashboard for Alexa: Personal Trainer." data-moreinfo=></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;" data-moreinfo="Tweets tagged with #alexajacobshack"></div>
      <i class="fa fa-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="quote" data-view="Quote"></div>
    </li>

    <%# Progress (Kcal) Count %>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Kcals" data-height="200" data-width="200" data-min="0" data-max="800" data-suffix=""></div>
    </li>

<%# Buzzwords
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="User Reviews" data-moreinfo="# of times said around the office"></div>
    </li>
%>


<%# Valuation (Price changes)
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="valuation" data-view="Number" data-title="Current Valuation" data-moreinfo="In billions" data-prefix="$"></div>
    </li>
%>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="barchart" data-view ="BarChart" data-title="Push Ups" data-moreinfo=""></div>
    </li>


<%#
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="Convergence" style="background-color:#47bbb3"></div>
    </li>
  </ul>
</div>

%>
