// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #9c4274;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-quote styles
// ----------------------------------------------------------------------------
.widget-quote {
  background: $background-color url('/assets/quote.png') no-repeat 50% 50%;

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  h3 {
    position: relative;
    z-index: 1;
  }

  &.large h3 {
    font-size: 65px;
  }
}
